@import "tailwindcss";

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 1rem;
}
.btn-connect-wallet {
	padding: 0.5rem 1.25rem;
	border-radius: 1.25rem;
	background-color: #000000;
	font-size: 1.1rem;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
}
.btn-step-by-step {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	border-radius: 50%;
	background-color: #f4f4f4;
	text-align: center;
	font-size: 1.25rem;
	color: #000000;
}
.btn-step-by-step.active {
	background-color: #121827;
	color: #ffffff;
}
.btn-network {
	padding: 0.5rem 1.25rem;
	border-radius: 1rem;
	background-color: #f4f4f4;
	text-align: center;
	color: #000000;
}
.btn-plan,
.btn-vault {
	padding: 0.5rem 1.25rem;
	border-radius: 1rem;
	background-color: #f4f4f4;
	font-size: 0.9rem;
	text-align: center;
	color: #000000;
	cursor: pointer;
}
.btn-plan.active,
.btn-vault.active {
	background-color: #121827;
	font-weight: 600;
	color: #ffffff;
}
.btn-action-vault {
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	background-color: #384151;
	text-align: center;
	font-weight: 500;
	color: #ffffff;
}
